html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

header {
    border-bottom: solid 1px #2e3d49;
    margin: 10px 0;    
}

header h1 {
    text-align: center;
}

header p {
    font-size: 1em;
    text-align: center;        
}

/*
 * Styles for the deck of cards
 */

.deck {
    min-width: 660px;    
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: transform 0.9s;
    transform-style: preserve-3d;        
}

.deck .card.open {
    transform: rotateY(180deg);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {    
    margin-bottom: 10px;
}

.score-panel p {
    text-align: center;
    display: block;
}

.score-panel .stars {
    float: right;
    margin: 0;
    padding: 0;    
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .best-score {
    font-size: 1.1em;
}

.score-panel .score-time {
    font-size: 1.1em;
}

/* control panel */
.control-panel {    
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.control-panel .time-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.control-panel .restart {
    display:inline-block;
    cursor: pointer;
}
.control-panel .timeContent {
    display:inline-block;
    padding-right: 10px;    
}

/* Start Button */
.start-game {
    padding: 0 5px;
    margin-right: 10px;
}

@media screen and (max-width: 590px) {
    .deck {
        width: 400px;
        min-width: 400px;
        padding: 5px;
        display: flex;
        justify-content: space-evenly;                
    }
    .deck li {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 591px) and (max-width: 690px) {
    .deck {
        width: 565px;
        min-width: 565px;
        padding: 15px;
    }

    .deck li {
        margin-bottom: 10px;
    }

    .game-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }

    .game-container .game-content {
        width: 100%;
        flex-basis: 100%;
        justify-content: center;
        display: flex;
        max-width: 100%;
    }
}

/* @media screen and (min-width: 485px) and (max-width: 841px) {and (min-width: 438px) 
    .deck {
        min-width: 450px;
    }

    .deck li {
        margin-bottom: 10px;
    }

    .panel-container {
        max-width: 100%;
        flex-basis: 100%;
    }

    .panel-container .control-panel {
        width: 100%;        
    }

    .panel-container .control-panel .moves-panel {
        flex-basis: 50%;
        max-width: 49%;
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .panel-container .control-panel .time-content-panel {
        flex-basis: 50%;
        max-width: 49%;
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .game-container .game-content {
        width: 100%;
        flex-basis: 100%;
        justify-content: center;
        display: flex;
        max-width: 100%;
    }
} */


@media screen and (min-width: 691px) and (max-width: 1050px) {
    .deck {
        width: 660px;    
    }

    .panel-container {
        max-width: 100%;
        flex-basis: 100%;
    }

    .panel-container .control-panel {
        width: 100%;        
    }

    .panel-container .control-panel .moves-panel {
        flex-basis: 50%;
        max-width: 49%;
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .panel-container .control-panel .time-content-panel {
        flex-basis: 50%;
        max-width: 49%;
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .panel-container .button-panel {
        width: 100%;
        margin-bottom: 10px;
    }

    .panel-container .button-panel .buttons {
        margin-left: 0;
        flex-basis: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .game-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }

    .game-container .game-content {
        width: 100%;
        flex-basis: 100%;
        justify-content: center;
        display: flex;
        max-width: 100%;
    }
    
}

@media screen and (min-width: 1051px) {
    .deck {
        width: 660px;    
    }
}